<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>proj-html-vuejs</title>
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
            integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="./assets/css/style.css" />
    </head>
    <body>
        <div id="app">
            <header>
                <div
                    class="contact-info"
                    :style="mainStyle(colors.text.silverSand, colors.background.contactInfoBg, fonts.small)"
                >
                    <div class="content container dflex">
                        <a href="#"
                            ><i :class="contactInfo.hours.icon"></i
                            >{{contactInfo.hours.text}}</a
                        >
                        <span class="other-info">
                            <a href="#"
                                ><i :class="contactInfo.tel.icon"></i
                                >{{contactInfo.tel.text}}</a
                            >
                            <a href="#"
                                ><i :class="contactInfo.mail.icon"></i
                                >{{contactInfo.mail.text}}</a
                            >
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </span>
                    </div>
                </div>
                <section
                    class="hero"
                    :style="`background-image: url(./assets/images/bg-${heroBg}.jpg)`"
                >
                    <div class="container">
                        <div class="dots">
                            <span
                                v-for="n in dots"
                                @click="heroBg = n"
                                :style="heroBg === n ? mainStyle('inherit', colors.background.blueLagoon) : ''"
                            ></span>
                        </div>
                    </div>
                    <nav class="navbar container dflex">
                        <div class="company-logo">
                            <span
                                class="first-half"
                                :style="mainStyle(colors.text.fountainBlue, colors.background.fountainBlueFade)"
                                >NEX</span
                            ><span
                                class="second-half"
                                :style="mainStyle(colors.text.silverSand)"
                                >GEN</span
                            >
                        </div>
                        <div class="right-content dflex">
                            <a
                                href="#"
                                v-for="link in navbar.links"
                                :style="mainStyle(colors.text.white, 'none', fonts.mid)"
                                >{{link}}</a
                            >
                            <a
                                href="#"
                                :style="mainStyle(colors.text.white, 'none', fonts.mid)"
                                ><i class="far fa-user"></i
                            ></a>
                            <a href="" class="btn full">GET IN TOUCH</a>
                        </div>
                    </nav>
                    <div class="claim">
                        <h1
                            :style="mainStyle(colors.text.white, 'none', '4rem')"
                        >
                            Financial Risks
                        </h1>
                        <p
                            class="claim-message"
                            :style="mainStyle(colors.text.silverSand, 'none', fonts.large)"
                        >
                            The right outcomes depend on continuous rigor in
                            governance, models and processes across the finance
                            function.
                        </p>
                        <div class="buttons-pair">
                            <a href="" class="btn full">GET IN TOUCH</a
                            ><a href="" class="btn empty">READ MORE</a>
                        </div>
                    </div>
                </section>
            </header>
            <main>
                <section class="performance p-section">
                    <small :style="mainStyle(colors.text.blueLagoon)"
                        >INTRODUCTION VIDEO</small
                    >
                    <h2
                        :style="mainStyle(colors.text.shark, 'none', fonts.sectionTitle)"
                    >
                        <span>Advisory</span>
                        <span
                            :style="mainStyle(colors.text.blueLagoon, colors.background.fountainBlueFade)"
                            class="title-bg"
                            >Performance</span
                        >
                    </h2>
                    <p
                        class="light-weight"
                        :style="mainStyle(colors.text.abbey, 'none', fonts.large)"
                    >
                        Financial executives need to review their strategies,
                        operating models and capabilities so that their areas
                        can generate sound information for better decision
                        making.
                    </p>
                    <div
                        class="video"
                        :style="mainStyle('inherit', colors.background.fountainBlueFade)"
                    >
                        <i
                            id="play-element-hover"
                            class="fas fa-play"
                            :style="mainStyle(colors.text.whiteLightFade, 'none', '5rem')"
                        ></i>
                        <i
                            class="fas fa-play"
                            :style="mainStyle(colors.text.blueLagoonLightFade, 'none', '5rem')"
                        ></i>
                    </div>
                </section>
                <section
                    class="results p-section"
                    :style="mainStyle(colors.text.white, 'black')"
                >
                    <small :style="mainStyle(colors.text.blueLagoon)"
                        >WHAT ARE WE DOING</small
                    >
                    <h2
                        :style="mainStyle(colors.text.white, 'none', fonts.sectionTitle)"
                    >
                        <span
                            :style="mainStyle('inherit', colors.background.fountainBlueFade)"
                            class="title-bg"
                            >Results</span
                        >
                        <span>in Numbers</span>
                    </h2>
                    <ul class="numbers container">
                        <li v-for="result in sectionResults">
                            <span
                                :style="mainStyle(colors.text.blueLagoon, 'none', '2.5rem')"
                                >{{result.number}}</span
                            >
                            <span
                                :style="mainStyle('inherit', 'none', '1.6rem')"
                                >{{result.label}}</span
                            >
                        </li>
                    </ul>
                </section>
                <section
                    class="services p-section"
                    :style="mainStyle(colors.text.white, colors.background.woodSmoke)"
                >
                    <div class="content container">
                        <small
                            :style="mainStyle(colors.text.blueLagoon)"
                            class="m-small"
                            >OUR BUSINESS AREAS</small
                        >
                        <h2
                            :style="mainStyle(colors.text.white, 'none', fonts.sectionTitle)"
                        >
                            <span>Excellence in</span>
                            <span
                                :style="mainStyle('inherit', colors.background.fountainBlueFade)"
                                class="title-bg"
                                >Services</span
                            >
                        </h2>
                        <div class="content-pair dflex">
                            <p
                                class="light-weight"
                                :style="mainStyle(colors.text.silverSand, 'none', fonts.large)"
                            >
                                We are leaders in prividing consultancy services
                                with a set of cutting-edge technologies and a
                                team of experienced and renowned professionals.
                                These are some options that you can hire.
                            </p>
                            <a href="" class="btn empty">SEE ALL</a>
                        </div>
                        <div class="services-cards">
                            <div
                                class="card"
                                :style="mainStyle('inherit', colors.background.cardBg)"
                                v-for="card in servicesCards"
                                @mouseenter="onHover(card)"
                                @mouseleave="notOnHover(card)"
                            >
                                <div
                                    class="card-top dflex"
                                    :style="card.onHover ? mainStyle('white') : mainStyle(colors.text.blueLagoon)"
                                >
                                    <i
                                        :class="card.icon"
                                        :style="mainStyle('inherit', 'none', '2rem')"
                                    ></i>
                                    <span
                                        class="arrow"
                                        :style="card.onHover ? mainStyle('white', colors.background.blueLagoon) : mainStyle(colors.text.blueLagoon, 'transparent')"
                                        ><i class="fas fa-arrow-right"></i
                                    ></span>
                                </div>
                                <h3
                                    class="m-small"
                                    :style="mainStyle('inherit', 'none', '1.5rem')"
                                >
                                    {{card.title}}
                                </h3>
                                <p
                                    :style="card.onHover ? mainStyle('white') : mainStyle(colors.text.silverSand)"
                                >
                                    Lorem ipsum, dolor sit amet consectetur
                                    adipisicing elit. Ratione, quisquam!
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="team p-section">
                    <!-- h: 798 -->
                    <div class="container">
                        <small
                            :style="mainStyle(colors.text.blueLagoon)"
                            class="m-small"
                            >WE LIKE WHAT WE DO</small
                        >
                        <div class="dflex">
                            <div class="left-content">
                                <h2
                                    :style="mainStyle(colors.text.white, 'none', fonts.sectionTitle)"
                                >
                                    <span
                                        :style="mainStyle(colors.text.blueLagoon, colors.background.fountainBlueFade)"
                                        class="title-bg"
                                        >Team</span
                                    >
                                    <span
                                        :style="mainStyle(colors.text.shark, 'none')"
                                        >of Experts</span
                                    >
                                </h2>
                                <p
                                    class="light-weight"
                                    :style="mainStyle(colors.text.shark, 'none', fonts.large)"
                                >
                                    Ethics and integrity are the bases on which
                                    our professionals build their careers. They
                                    are fundamentals that become daily
                                    attitudes.
                                </p>
                                <div class="experts-cards">
                                    <div
                                        class="member-card"
                                        v-for="member in team"
                                    >
                                        <img :src="member.img" />
                                        <div class="member-info">
                                            <h3
                                                :style="mainStyle(colors.text.shark, 'none', '1.5rem')"
                                            >
                                                {{member.name}}
                                            </h3>
                                            <h4
                                                :style="mainStyle(colors.text.shark)"
                                                class="light-weight"
                                            >
                                                {{member.role}}
                                            </h4>
                                            <span class="social">
                                                <span
                                                    :style="mainStyle(colors.text.blueLagoon, colors.background.fountainBlueFade, '1.1rem')"
                                                    ><i
                                                        class="fab fa-facebook-f"
                                                    ></i
                                                ></span>
                                                <span
                                                    :style="mainStyle(colors.text.blueLagoon, colors.background.fountainBlueFade, '1.1rem')"
                                                    ><i
                                                        class="fab fa-twitter"
                                                    ></i
                                                ></span>
                                                <span
                                                    :style="mainStyle(colors.text.blueLagoon, colors.background.fountainBlueFade, '1.1rem')"
                                                    ><i
                                                        class="fab fab fa-linkedin-in"
                                                    ></i
                                                ></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="right-content">
                                <div
                                    class="president-speech"
                                    :style="mainStyle(colors.text.greyNurse, colors.background.blueLagoon, fonts.large)"
                                >
                                    <h3
                                        :style="mainStyle(colors.text.white, 'none', '1.6rem')"
                                    >
                                        President Speech
                                    </h3>
                                    <p class="speech light-weight">
                                        <span
                                            >Lorem, ipsum dolor sit amet
                                            consectetur adipisicing elit.
                                            Mollitia magnam nihil nobis. Omnis,
                                            illum hic.</span
                                        >
                                        <span
                                            >Lorem ipsum dolor sit amet
                                            consectetur adipisicing elit.
                                            Officiis, voluptates!</span
                                        >
                                        <span
                                            >Lorem, ipsum dolor sit amet
                                            consectetur adipisicing elit. Nulla
                                            unde provident architecto libero
                                            cumque nobis illo asperiores ex?
                                            Minus, eos?</span
                                        >
                                    </p>
                                    <div class="signature dflex">
                                        <span
                                            :style="mainStyle(colors.text.greyNurse)"
                                            v-text="thePresident()"
                                        ></span
                                        ><span
                                            :style="mainStyle(colors.text.abbeyFade, 'none', '1.5rem')"
                                            ><i class="fas fa-quote-right"></i
                                        ></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section
                    class="news p-section"
                    :style="mainStyle('inherit', colors.background.greyNurse)"
                >
                    <!-- h: 829 -->
                    <div class="container">
                        <small
                            :style="mainStyle(colors.text.blueLagoon)"
                            class="m-small"
                            >OUR EDITORIAL CONTENT</small
                        >
                        <h2
                            :style="mainStyle(colors.text.shark, 'none', fonts.sectionTitle)"
                        >
                            <span>Latest</span>
                            <span
                                :style="mainStyle(colors.text.blueLagoon, colors.background.fountainBlueFade)"
                                class="title-bg"
                                >News</span
                            >
                        </h2>
                        <div class="content-pair dflex">
                            <p
                                class="light-weight"
                                :style="mainStyle(colors.text.abbey, 'none', fonts.large)"
                            >
                                Every week we publish content about what is best
                                in the business world.
                            </p>
                            <a
                                class="btn full"
                                @click="allNews = !allNews"
                                v-text="allNews ? 'SHOW LESS' : 'SHOW ALL'"
                            ></a>
                        </div>
                        <div class="news-cards">
                            <div
                                class="news-card"
                                v-for="news in newsCards"
                                :style="`background-image: url(${news.bg})`"
                                @mouseenter="news.details = !news.details"
                                @mouseleave="news.details = !news.details"
                            >
                                <div class="author-date" v-if="news.details">
                                    <span
                                        ><i :class="contactInfo.hours.icon"></i>
                                        {{news.author}}</span
                                    >
                                    <span
                                        ><i class="far fa-user"></i>
                                        {{news.date}}</span
                                    >
                                </div>
                                <h2 :style="mainStyle(colors.text.white)">
                                    {{news.title}}
                                </h2>
                                <p v-if="news.details">{{news.subtitle}}</p>
                            </div>
                        </div>
                        <div class="news-cards other-news" v-if="allNews">
                            <div
                                class="news-card"
                                v-for="news in otherNewsCards"
                                :style="`background-image: url(${news.bg})`"
                                @mouseenter="news.details = !news.details"
                                @mouseleave="news.details = !news.details"
                            >
                                <div class="author-date" v-if="news.details">
                                    <span
                                        ><i :class="contactInfo.hours.icon"></i>
                                        {{news.author}}</span
                                    >
                                    <span
                                        ><i class="far fa-user"></i>
                                        {{news.date}}</span
                                    >
                                </div>
                                <h2 :style="mainStyle(colors.text.white)">
                                    {{news.title}}
                                </h2>
                                <p v-if="news.details">{{news.subtitle}}</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section
                    class="know p-section"
                    :style="mainStyle(colors.text.white, colors.background.woodSmoke)"
                >
                    <!-- h: 456 -->
                    <div class="container">
                        <div class="left-content">
                            <small
                                :style="mainStyle(colors.text.blueLagoon)"
                                class="m-small"
                                >NEWSLETTER</small
                            >
                            <h2
                                :style="mainStyle(colors.text.white, 'none', fonts.sectionTitle)"
                            >
                                <span
                                    :style="mainStyle('inherit', colors.background.fountainBlueFade)"
                                    class="title-bg"
                                    >Know</span
                                >
                                <span>First</span>
                            </h2>
                            <p
                                class="light-weight"
                                :style="mainStyle(colors.text.silverSand, 'none', fonts.large)"
                            >
                                Follow closely and receive content about our
                                company and the news of the current market.
                            </p>
                        </div>
                        <form>
                            <div class="form-input">
                                <input
                                    type="text"
                                    placeholder="Name"
                                    :style="mainStyle('white', colors.background.cardBg, fonts.large)"
                                />
                            </div>
                            <div class="form-input">
                                <input
                                    type="email"
                                    id=""
                                    placeholder="Email"
                                    :style="mainStyle('white', colors.background.cardBg, fonts.large)"
                                />
                            </div>
                            <input
                                type="submit"
                                value="SUBSCRIBE"
                                class="btn full"
                            />
                        </form>
                    </div>
                </section>
                <section class="touch p-section">
                    <!-- h: 847 -->
                    <div class="container dflex">
                        <div class="left-content">
                            <small
                                :style="mainStyle(colors.text.blueLagoon)"
                                class="m-small"
                                >SEND A MESSAGE</small
                            >
                            <h2
                                :style="mainStyle(colors.text.white, 'none', fonts.sectionTitle)"
                            >
                                <span
                                    :style="mainStyle(colors.text.shark, 'none')"
                                    >Get in</span
                                >
                                <span
                                    :style="mainStyle(colors.text.blueLagoon, colors.background.fountainBlueFade)"
                                    class="title-bg"
                                    >Touch</span
                                >
                            </h2>
                            <p
                                class="light-weight"
                                :style="mainStyle(colors.text.shark, 'none', fonts.large)"
                            >
                                We will respond to your message as soon as
                                possible.
                            </p>
                            <form>
                                <div class="form-row">
                                    <div class="form-input">
                                        <input type="text" placeholder="Name" />
                                    </div>
                                    <div class="form-input">
                                        <input
                                            type="email"
                                            placeholder="Email"
                                        />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-input">
                                        <input
                                            type="number"
                                            placeholder="Phone"
                                        />
                                    </div>
                                    <div class="form-input">
                                        <select>
                                            <option value="">More info</option>
                                        </select>
                                    </div>
                                </div>
                                <textarea placeholder="Message"></textarea>
                                <input
                                    type="submit"
                                    value="SEND"
                                    class="btn full"
                                />
                            </form>
                        </div>
                        <div class="right-content">
                            <div
                                class="company-contacts"
                                :style="mainStyle(colors.text.shark, 'none', fonts.large)"
                            >
                                <h3
                                    :style="mainStyle('inherit', 'none', '1.6rem')"
                                    class="m-small"
                                >
                                    Example Inc.
                                </h3>
                                <p class="light-weight m-small">
                                    Lorem ipsum dolor sit amet consectetur,
                                    adipisicing elit. A, minus.
                                </p>
                                <p class="light-weight m-small">
                                    Lorem ipsum dolor sit amet consectetur,
                                    adipisicing elit. A, minus.
                                </p>
                                <div
                                    class="contact-info"
                                    :style="mainStyle(colors.text.blueLagoon)"
                                >
                                    <p>
                                        <span
                                            :style="mainStyle('inherit', colors.background.fountainBlueFade, '1.1rem')"
                                            ><i
                                                :class="contactInfo.tel.icon"
                                            ></i
                                        ></span>
                                        <span class="light-weight"
                                            >{{contactInfo.tel.text}}</span
                                        >
                                    </p>
                                    <p>
                                        <span
                                            :style="mainStyle('inherit', colors.background.fountainBlueFade, '1.1rem')"
                                            ><i
                                                :class="contactInfo.mail.icon"
                                            ></i
                                        ></span>
                                        <span class="light-weight"
                                            >{{contactInfo.mail.text}}</span
                                        >
                                    </p>
                                    <p>
                                        <span
                                            :style="mainStyle('inherit', colors.background.fountainBlueFade, '1.1rem')"
                                            ><i
                                                :class="contactInfo.address.icon"
                                            ></i
                                        ></span>
                                        <span class="light-weight"
                                            >{{contactInfo.address.text}}</span
                                        >
                                    </p>
                                    <a href="#" class="map btn empty"
                                        >VIEW MAP</a
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            <footer>
                <div class="container">
                    <div class="top-section p-section dflex">
                        <!-- h: 621 -->
                        <!-- card h331 w262 -->
                        <div
                            class="card get-in-touch"
                            :style="mainStyle(colors.text.silverSand)"
                        >
                            <div
                                class="company-logo"
                                :style="mainStyle('inherit', 'none', '1.3rem')"
                            >
                                <span
                                    class="first-half"
                                    :style="mainStyle(colors.text.fountainBlue, colors.background.fountainBlueFade)"
                                    >NEX</span
                                ><span class="second-half">GEN</span>
                            </div>
                            <p>
                                A Functional HTML Template for Corporate &
                                Business
                            </p>
                            <div class="contacts">
                                <p>
                                    <span
                                        ><i :class="contactInfo.tel.icon"></i
                                    ></span>
                                    <span>{{contactInfo.tel.text}}</span>
                                </p>
                                <p>
                                    <span
                                        ><i :class="contactInfo.mail.icon"></i
                                    ></span>
                                    <span>{{contactInfo.mail.text}}</span>
                                </p>
                                <p>
                                    <span
                                        ><i
                                            :class="contactInfo.address.icon"
                                        ></i
                                    ></span>
                                    <span>{{contactInfo.address.text}}</span>
                                </p>
                            </div>
                            <span>
                                <a href="" class="btn empty">GET IN TOUCH</a>
                            </span>
                        </div>
                        <div
                            class="card links"
                            v-for="card in footerCards"
                            :style="mainStyle(colors.text.silverSand, '#ffffff0f')"
                        >
                            <h3 :style="mainStyle('white')">{{card.title}}</h3>
                            <ul>
                                <li
                                    v-for="link in card.listItems"
                                    class="light-weight"
                                >
                                    <i class="fas fa-chevron-right"></i>
                                    <a href="#">{{link}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div
                    class="bottom-section"
                    :style="mainStyle(colors.text.silverSand, colors.background.woodSmoke)"
                >
                    <div class="container dflex">
                        <p>
                            Enjoy the low price. We are tracking any intention
                            of piracy.
                        </p>
                        <p>
                            &copy; 2020 NEXGEN is Proudly Provided by
                            <span :style="mainStyle(colors.text.blueLagoon)"
                                >Me, Andrea.</span
                            >
                        </p>
                    </div>
                </div>
            </footer>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="./assets/js/main.js"></script>
    </body>
</html>
