* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1140px;
    margin: auto;
}
body {
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero {
    height: 919px;
    background-image: url("../images/bg-2.jpg");
    background-size: cover;
}
