* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1140px;
    margin: auto;
}
body {
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
}
span {
    display: inline-block;
}
a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}
li {
    list-style: none;
}
small {
    font-weight: 700;
    display: inline-block;
}
section h2 {
    font-weight: 900;
    margin-bottom: 20px;
}

/* utility */
.dflex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn {
    padding: 0.7rem 0.9rem;
    border-radius: 0.2rem;
    border: 1px solid #048383;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn.full {
    background-color: #048383;
}
.btn.full:hover {
    background-color: #52babb;
    border-color: #52babb;
}
.btn.empty {
    background-color: transparent;
}
.btn.empty:hover {
    background-color: #048383;
    color: #ffffff;
}
.btn.map {
    color: #048383;
}
.title-bg {
    padding: 2px 1rem;
    border-radius: 0.2rem;
}
.light-weight {
    font-weight: 300;
}
.p-section {
    padding: 130px 0;
}
.m-small {
    margin-bottom: 30px;
}
/** HEADER */
header .contact-info {
    height: 50px;
}
header .contact-info .content {
    height: 100%;
}
header .contact-info .content .other-info a:not(:last-child) {
    margin-right: 30px;
}
header .contact-info .content i {
    margin-right: 5px;
}

.company-logo {
    font-weight: 700;
    letter-spacing: 4px;
}
.company-logo .first-half {
    padding: 0.5rem 0;
    padding-left: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.company-logo .second-half {
    padding-left: 4px;
}
.hero {
    height: 919px;
    background-image: url("../images/bg-2.jpg");
    background-size: cover;
    display: grid;
    grid-template-rows: auto 1fr;
    /* overlay effect */
    background-color: #00000057;
    background-blend-mode: color;
}

.navbar {
    padding-top: 20px;
}
.navbar .right-content a:not(:last-child) {
    margin-right: 30px;
}

.claim {
    place-self: center;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.claim h1 {
    font-weight: 900;
}
.claim-message {
    margin: 40px 0;
    line-height: 1.5rem;
}
.claim .buttons-pair > a:first-child {
    margin-right: 20px;
}

/** MAIN */
/* section.performance */
section.performance {
    height: 898px;
    width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.performance small {
    margin-bottom: 30px;
}
section.performance p {
    width: 750px;
    margin: auto;
    text-align: center;
}
section.performance .video {
    width: 100%;
    height: 400px;
    background-image: url(../images/video-1.jpg);
    background-size: contain;
    background-blend-mode: overlay;
    display: grid;
    place-items: center;
    position: relative;
    margin-top: 50px;
    border-radius: 0.2rem;
}
#play-element-hover {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* section.results */
section.results small {
    margin-bottom: 30px;
}
section.results {
    /* height: 589px; */
    background-image: url(../images/bg-1.jpg);
    background-size: cover;
    background-blend-mode: luminosity;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.results li {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.results li span:first-child {
    margin-bottom: 20px;
}
section.results .numbers {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}

/* section.services */
section.services .content-pair p {
    width: 70%;
}
section.services .services-cards {
    height: 566px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    margin-top: 40px;
}
section.services .card {
    width: 360px;
    height: 268px;
    padding: 45px;
    border-radius: 0.5rem;
}
/* hover eff */
section.services .card:hover {
    position: relative;
    bottom: 10px;
}
/* section.services .card:hover section.services .card-top i {
    color: white !important;
} */

section.services .card-top {
    margin-bottom: 20px;
    position: relative;
}
section.services .card-top .arrow {
    position: absolute;
    right: 0;
    bottom: 50%;
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    transition: 0.3s ease;
}

/* section.team */
section.team .left-content {
    width: 780px;
}
section.team .left-content > p {
    width: 650px;
}
section.team .experts-cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
section.team .experts-cards .member-card {
    margin-top: 50px;
    display: flex;
    height: 128px;
}
section.team .experts-cards .member-card .member-info {
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
section.team .experts-cards .member-card .member-info .social {
    display: flex;
}
section.team .experts-cards .member-card .member-info .social span,
section.touch .right-content .contact-info span:first-of-type {
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    margin-right: 5px;
}

.president-speech {
    width: 360px;
    height: 476px;
    padding: 30px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    border-radius: 0.3rem;
}
.president-speech p.speech {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 0;
}
.president-speech .signature span:first-child {
    font-weight: 700;
}

.member-card img {
    height: 100%;
    width: 109px;
    border-radius: 0.2rem;
    margin-right: 30px;
}

/* section.news */
section.news .news-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
section.news .news-card {
    height: 360px;
    width: 360px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 0.5rem;
    background-size: contain;
    text-align: center;
    display: flex;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
}
section.news .news-cards h2 {
    font-weight: normal;
}

/* section.know */
section.know > .container {
    padding: 0 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
section.know .left-content > p {
    width: 91%;
}
section.know form {
    padding-left: 30px;
}
section.know form .form-input {
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
}
section.know form .form-input input {
    height: 100%;
    width: 100%;
    border-radius: 0.2rem;
    padding: 15px;
    outline: none;
    border: none;
}
section.know form .form-input input::placeholder {
    font-size: 1rem;
    color: grey;
}

/* section.touch */
section.touch .container {
    align-items: flex-start;
}

section.touch .company-contacts {
    width: 360px;
    height: 476px;
}
section.touch .company-contacts .contact-info p {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

section.touch form {
    width: 717px;
    margin-top: 60px;
}
section.touch form .form-row {
    display: flex;
    margin-bottom: 20px;
}
section.touch form .form-row .form-input {
    flex: 1;
}
section.touch form .form-row .form-input input,
section.touch select {
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 0.3rem;
    background-color: #ececec;
    padding: 15px;
}
section.touch form .form-row .form-input input::placeholder,
section.touch select > option {
    font-size: 1rem;
}
section.touch form .form-row .form-input:first-of-type {
    margin-right: 16px;
}
section.touch textarea {
    font-family: "Roboto" sans-serif;
    width: 100%;
    height: 150px;
    background-color: #ececec;
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 0.3rem;
    margin-bottom: 30px;
}
section.touch textarea::placeholder {
    font-family: "Roboto", sans-serif;
}

/* TODO: modifica select e option */

/** FOOTER */
/* footer.top-section */
footer {
    background-image: url(../images/bg-7.jpg);
    background-size: cover;
}

footer .top-section .card {
    width: 262px;
    height: 331px;
}

footer .top-section .card.get-in-touch {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer .top-section .card.get-in-touch .contacts p {
    font-weight: 300;
}
footer .top-section .card.get-in-touch .contacts p:not(:last-child) {
    margin-bottom: 20px;
}
footer .top-section .card.get-in-touch .contacts a.btn {
    align-self: flex-start;
}

footer .top-section .card.links {
    border-radius: 0.6rem;
    padding-left: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
}
footer .top-section .card.links h3 {
    margin-bottom: 20px;
}
footer .top-section .card.links ul {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer .bottom-section .container {
    height: 89px;
}
